# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config NET_DHCPV4_OPTION_NTP_SERVER
	default y if SNTP && NET_DHCPV4

choice SNTP_LOG_LEVEL_CHOICE
	default SNTP_LOG_LEVEL_DBG if SNTP
endchoice

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
